In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import osmnx as ox
import geopandas as gpd
from shapely.geometry import Point
import os
import multiprocessing as mp
import ctypes

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%pwd

'/home/cseadmin/data/cys/TrafficFlowModel/data_process'

# 整体思路

1. 给每条路编号
2. buffer
3. 找每条道路中心点
4. 对每条轨迹，获取轨迹中间点
5. 根据轨迹中间点到路中心点的距离对所有路进行排序
6. 对轨迹上的 GPS 点，挨个 match

In [53]:
df_roads=gpd.GeoDataFrame(pd.read_pickle("../data/df_main_roads.pkl"))

df_roads

,id,geometry,center
0,"(598153574, 2767949724, 0)","POLYGON ((114.17454 22.56222, 114.17454 22.562...","(114.17621206809773, 22.560903081902268)"
1,"(2767949724, 2768006811, 1)","POLYGON ((114.17919 22.55897, 114.17919 22.558...","(114.1800173748672, 22.55824867513279)"
2,"(598153574, 297121337, 0)","POLYGON ((114.17464 22.56211, 114.17464 22.562...","(114.20008177180853, 22.56214954703517)"
3,"(297121337, 2320506360, 0)","POLYGON ((114.22842 22.56748, 114.22842 22.567...","(114.2279936303635, 22.568082525145726)"
4,"(297121337, 1824553511, 0)","POLYGON ((114.22840 22.56757, 114.22966 22.567...","(114.2413088443007, 22.5733112943007)"
...,...,...,...
16148,"(9148457351, 2754531888, 0)","POLYGON ((114.01602 22.64837, 114.01602 22.648...","(114.0161446934389, 22.6480433065611)"
16149,"(9148457261, 7202299527, 0)","POLYGON ((114.00864 22.64826, 114.00861 22.648...","(114.00952040000087, 22.648972200000863)"
16150,"(9148457386, 6327148773, 0)","POLYGON ((114.01136 22.66332, 114.01132 22.663...","(114.01180144535755, 22.66300115464245)"
16151,"(9148457385, 9148457383, 0)","POLYGON ((114.01237 22.66246, 114.01326 22.661...","(114.01335557989087, 22.66127547010913)"
16152,"(9159987478, 9159987484, 0)","POLYGON ((114.02079 22.63693, 114.02079 22.636...","(114.02105457788898, 22.63688909732904)"

In [8]:
%%bash

cd ../data/taxi/processed
ls -l | head

total 1506636
-rw-rw-r-- 1 cys cys  51889 Oct 12 17:13 粤B0334Y.csv
-rw-rw-r-- 1 cys cys  98148 Oct 12 17:06 粤B0994Y.csv
-rw-rw-r-- 1 cys cys  81721 Oct 12 17:15 粤B0C0M7.csv
-rw-rw-r-- 1 cys cys  87617 Oct 12 17:07 粤B0C0P3.csv
-rw-rw-r-- 1 cys cys  78128 Oct 12 17:16 粤B0C0P5.csv
-rw-rw-r-- 1 cys cys  71403 Oct 12 17:05 粤B0C0Q5.csv
-rw-rw-r-- 1 cys cys  97699 Oct 12 17:11 粤B0C0Q9.csv
-rw-rw-r-- 1 cys cys  44873 Oct 12 17:04 粤B0C1P1.csv
-rw-rw-r-- 1 cys cys  57152 Oct 12 17:09 粤B0C1P6.csv

测试

---

In [60]:
df_taxi=pd.read_csv("../data/taxi/processed/粤B0334Y.csv")
df_taxi["gps_time"]=pd.to_datetime(df_taxi["gps_time"])

# df_taxi.loc[(df_taxi==0).any(axis=1)]

# df_taxi=df_taxi.loc[(df_taxi!=0).all(axis=1)]
df_taxi

            lat         lng            gps_time
0     22.547550  114.057976 2019-12-02 00:00:42
1     22.547485  114.053720 2019-12-02 00:01:42
2     22.547443  114.052284 2019-12-02 00:01:57
3     22.548770  114.051100 2019-12-02 00:02:22
4     22.549063  114.051180 2019-12-02 00:02:57
...         ...         ...                 ...
1294  22.626580  113.809980 2019-12-02 23:58:57
1295  22.626580  113.809980 2019-12-02 23:58:58
1296  22.626556  113.810036 2019-12-02 23:59:01
1297  22.626272  113.810165 2019-12-02 23:59:10
1298  22.625362  113.809230 2019-12-02 23:59:28

[1299 rows x 3 columns]

gps 时间间隔加大到 30s

resample

判断距离 过小就跳过

In [37]:
(df_taxi.iloc[1]["gps_time"]-df_taxi.iloc[0]["gps_time"])<pd.Timedelta(seconds=30)

False

In [54]:
# df_taxi.resample(rule="30S", on="gps_time").sum()

In [62]:
# coords=[]
# last_time=df_taxi.iloc[0]["gps_time"]+pd.Timedelta(seconds=-30)
# for index, row in df_taxi.iterrows():
#     if row["gps_time"]-last_time<pd.Timedelta(seconds=30):
#         continue
#     coords.append([row["lat"], row["lng"]])
#     last_time=row["gps_time"]
# coords
# len(coords)

[[22.54755, 114.057976],
 [22.547485, 114.05372],
 [22.54877, 114.0511],
 [22.549063, 114.05118],
 [22.549303, 114.05101],
 [22.549314, 114.04764],
 [22.549292, 114.04509],
 [22.549356, 114.044495],
 [22.55121, 114.06252],
 [22.550152, 114.06776],
 [22.54198, 114.06859],
 [22.542738, 114.07125],
 [22.539494, 114.07412],
 [22.540085, 114.07762],
 [22.537748, 114.07755],
 [22.537043, 114.07749],
 [22.536362, 114.07731],
 [22.534876, 114.07638],
 [22.533537, 114.07527],
 [22.53195, 114.06312],
 [22.532532, 114.06063],
 [22.535496, 114.05786],
 [22.537329, 114.058105],
 [22.537327, 114.0583],
 [22.53755, 114.05383],
 [22.537477, 114.05182],
 [22.537422, 114.05022],
 [22.537407, 114.04992],
 [22.53741, 114.04976],
 [22.537424, 114.0497],
 [22.537422, 114.04946],
 [22.537422, 114.04946],
 [22.537422, 114.04946],
 [22.537382, 114.04937],
 [22.53737, 114.04938],
 [22.53736, 114.04922],
 [22.537449, 114.04899],
 [22.537462, 114.04892],
 [22.537535, 114.04867],
 [22.537512, 114.04863],
 [22.537462, 114.04862],
 [22.537462, 114.04862],
 [22.537466, 114.04846],
 [22.53746, 114.04836],
 [22.53746, 114.04836],
 [22.537437, 114.048035],
 [22.537527, 114.04796],
 [22.53761, 114.047844],
 [22.537863, 114.047714],
 [22.539036, 114.04781],
 [22.538887, 114.04774],
 [22.538837, 114.04767],
 [22.538511, 114.047775],
 [22.535892, 114.04378],
 [22.52641, 114.04467],
 [22.524094, 114.04353],
 [22.521473, 114.04178],
 [22.522978, 114.03833],
 [22.517866, 114.03952],
 [22.519148, 114.03685],
 [22.518087, 114.03401],
 [22.52059, 114.02935],
 [22.521044, 114.02844],
 [22.523333, 114.024315],
 [22.524128, 114.022934],
 [22.524797, 114.02166],
 [22.5307, 114.0165],
 [22.529882, 114.031425],
 [22.530872, 114.04176],
 [22.53068, 114.04572],
 [22.535126, 114.04483],
 [22.535316, 114.04775],
 [22.537094, 114.04789],
 [22.537329, 114.050934],
 [22.537312, 114.051094],
 [22.537466, 114.055756],
 [22.537546, 114.05356],
 [22.537437, 114.05133],
 [22.538685, 114.051254],
 [22.541645, 114.05127],
 [22.54228, 114.057976],
 [22.542135, 114.06802],
 [22.545084, 114.06818],
 [22.54736, 114.067986],
 [22.550732, 114.06794],
 [22.55079, 114.06793],
 [22.555115, 114.06783],
 [22.560179, 114.06779],
 [22.564651, 114.06769],
 [22.569296, 114.06767],
 [22.578093, 114.06149],
 [22.594017, 114.04768],
 [22.597242, 114.04755],
 [22.599932, 114.044365],
 [22.600788, 114.0442],
 [22.607094, 114.04439],
 [22.62579, 114.04304],
 [22.632584, 114.04775],
 [22.632675, 114.04325],
 [22.637184, 114.044914],
 [22.638205, 114.04558],
 [22.64154, 114.03839],
 [22.641102, 114.038734],
 [22.641, 114.03896],
 [22.64104, 114.03879],
 [22.640856, 114.03989],
 [22.638533, 114.04542],
 [22.638887, 114.04388],
 [22.638891, 114.04394],
 [22.638857, 114.04394],
 [22.640951, 114.03912],
 [22.64099, 114.03908],
 [22.64105, 114.0391],
 [22.641068, 114.03886],
 [22.641308, 114.038925],
 [22.640282, 114.04074],
 [22.639307, 114.04034],
 [22.636969, 114.03937],
 [22.639025, 114.03629],
 [22.63859, 114.03188],
 [22.63255, 114.032135],
 [22.63173, 114.02804],
 [22.631453, 114.02744],
 [22.627434, 114.02635],
 [22.625214, 114.027054],
 [22.62368, 114.0267],
 [22.623896, 114.02429],
 [22.626892, 114.02392],
 [22.627829, 114.02343],
 [22.62407, 114.024055],
 [22.620605, 114.02464],
 [22.616898, 114.026306],
 [22.612106, 114.028206],
 [22.612701, 114.02652],
 [22.60018, 114.02644],
 [22.595013, 114.02342],
 [22.592705, 114.02158],
 [22.594208, 114.02495],
 [22.594864, 114.029434],
 [22.605036, 114.06209],
 [22.612726, 114.07121],
 [22.617357, 114.07415],
 [22.627825, 114.08098],
 [22.630165, 114.088234],
 [22.633068, 114.095505],
 [22.636127, 114.10252],
 [22.641958, 114.11889],
 [22.636425, 114.13184],
 [22.643208, 114.15191],
 [22.643208, 114.15191],
 [22.643147, 114.151855],
 [22.642729, 114.151634],
 [22.642612, 114.15156],
 [22.642406, 114.151505],
 [22.642319, 114.15145],
 [22.641209, 114.150696],
 [22.65525, 114.14129],
 [22.6651, 114.144485],
 [22.670052, 114.14678],
 [22.673994, 114.147545],
 [22.683903, 114.14369],
 [22.683943, 114.14367],
 [22.685, 114.1431],
 [22.690214, 114.14742],
 [22.69209, 114.14779],
 [22.697132, 114.139336],
 [22.69855, 114.1371],
 [22.699884, 114.13792],
 [22.699223, 114.13933],
 [22.70102, 114.13929],
 [22.700584, 114.13701],
 [22.699049, 114.13717],
 [22.699007, 114.13649],
 [22.700832, 114.13416],
 [22.697842, 114.13801],
 [22.695143, 114.14239],
 [22.69328, 114.14554],
 [22.687706, 114.14509],
 [22.68572, 114.14351],
 [22.68572, 114.14351],
 [22.685188, 114.14304],
 [22.685188, 114.14304],
 [22.681122, 114.14475],
 [22.678911, 114.1457],
 [22.67834, 114.14596],
 [22.676481, 114.146866],
 [22.672888, 114.147385],
 [22.63756, 114.1505],
 [22.634584, 114.15095],
 [22.628904, 114.151764],
 [22.627544, 114.15203],
 [22.625668, 114.15264],
 [22.623037, 114.14629],
 [22.622643, 114.14213],
 [22.622654, 114.1414],
 [22.625813, 114.13989],
 [22.62661, 114.13967],
 [22.625652, 114.13653],
 [22.623383, 114.133255],
 [22.624374, 114.13483],
 [22.617756, 114.13388],
 [22.617756, 114.13388],
 [22.617756, 114.13388],
 [22.611965, 114.1285],
 [22.607641, 114.12137],
 [22.599993, 114.113266],
 [22.590965, 114.10916],
 [22.579464, 114.11503],
 [22.57684, 114.115265],
 [22.576744, 114.11088],
 [22.57282, 114.10315],
 [22.571499, 114.100586],
 [22.57336, 114.09901],
 [22.576305, 114.09899],
 [22.57735, 114.099205],
 [22.577652, 114.098946],
 [22.574207, 114.098465],
 [22.570475, 114.098694],
 [22.568502, 114.09398],
 [22.567513, 114.090485],
 [22.564962, 114.085655],
 [22.56054, 114.08243],
 [22.556164, 114.07935],
 [22.554234, 114.07807],
 [22.553284, 114.07725],
 [22.551134, 114.07144],
 [22.551136, 114.069016],
 [22.551128, 114.06818],
 [22.551128, 114.06818],
 [22.5521, 114.06289],
 [22.55564, 114.062744],
 [22.557978, 114.06594],
 [22.55832, 114.06524],
 [22.558397, 114.06528],
 [22.558115, 114.06388],
 [22.557997, 114.06482],
 [22.557842, 114.06497],
 [22.557842, 114.06497],
 [22.551352, 114.06527],
 [22.551363, 114.06306],
 [22.548046, 114.06261],
 [22.547546, 114.06261],
 [22.543283, 114.06254],
 [22.539934, 114.06267],
 [22.538097, 114.063354],
 [22.53762, 114.059616],
 [22.537615, 114.05899],
 [22.537615, 114.05899],
 [22.537333, 114.05878],
 [22.537333, 114.05878],
 [22.537746, 114.05729],
 [22.53728, 114.05206],
 [22.53728, 114.05206],
 [22.53728, 114.05206],
 [22.535683, 114.05157],
 [22.53489, 114.051476],
 [22.533537, 114.05032],
 [22.53495, 114.04991],
 [22.535305, 114.050964],
 [22.536346, 114.05144],
 [22.537445, 114.05319],
 [22.537445, 114.05319],
 [22.537424, 114.056564],
 [22.537447, 114.05726],
 [22.527704, 114.058945],
 [22.527582, 114.0584],
 [22.52765, 114.05705],
 [22.526922, 114.057045],
 [22.526104, 114.051605],
 [22.531708, 114.05148],
 [22.53512, 114.05137],
 [22.537497, 114.04658],
 [22.54058, 114.04443],
 [22.543581, 114.04514],
 [22.542576, 114.04321],
 [22.542732, 114.04108],
 [22.542732, 114.04108],
 [22.542524, 114.039276],
 [22.54424, 114.03899],
 [22.545568, 114.03971],
 [22.548138, 114.03977],
 [22.54888, 114.03981],
 [22.550396, 114.0434],
 [22.550251, 114.04411],
 [22.543968, 114.04426],
 [22.541311, 114.04366],
 [22.542294, 114.046936],
 [22.542212, 114.05252],
 [22.541117, 114.05183],
 [22.540613, 114.053024],
 [22.540613, 114.053024],
 [22.540613, 114.053024],
 [22.541164, 114.05065],
 [22.541096, 114.050644],
 [22.540861, 114.05068],
 [22.540442, 114.052155],
 [22.538557, 114.051315],
 [22.537706, 114.05127],
 [22.53347, 114.0514],
 [22.53156, 114.046745],
 [22.530384, 114.034676],
 [22.53119, 114.02652],
 [22.532349, 114.02163],
 [22.53259, 114.018005],
 [22.532757, 114.017586],
 [22.532602, 114.01675],
 [22.532528, 114.01642],
 [22.537395, 114.013504],
 [22.5382, 114.0177],
 [22.539667, 114.02673],
 [22.539267, 114.02777],
 [22.540346, 114.03032],
 [22.541658, 114.03796],
 [22.542042, 114.04037],
 [22.542244, 114.04226],
 [22.54226, 114.04299],
 [22.542309, 114.04543],
 [22.542326, 114.048386],
 [22.542397, 114.05096],
 [22.541216, 114.05236],
 [22.540453, 114.052155],
 [22.53944, 114.04977],
 [22.539486, 114.04828],
 [22.539925, 114.04805],
 [22.540232, 114.04805],
 [22.540049, 114.04773],
 [22.541706, 114.04784],
 [22.542364, 114.05043],
 [22.537703, 114.05122],
 [22.537703, 114.05122],
 [22.535576, 114.05129],
 [22.535576, 114.05129],
 [22.530794, 114.05126],
 [22.531305, 114.05783],
 [22.52609, 114.05948],
 [22.525854, 114.05227],
 [22.527483, 114.05157],
 [22.532469, 114.05145],
 [22.535017, 114.051254],
 [22.535467, 114.052956],
 [22.53659, 114.05137],
 [22.536678, 114.05136],
 [22.536678, 114.05136],
 [22.536978, 114.051125],
 [22.53749, 114.05117],
 [22.53912, 114.05121],
 [22.53912, 114.05121],
 [22.539396, 114.05123],
 [22.545053, 114.051155],
 [22.546883, 114.05111],
 [22.547228, 114.051186],
 [22.549192, 114.05115],
 [22.550348, 114.05111],
 [22.551168, 114.05215],
 [22.551245, 114.057205],
 [22.551245, 114.057205],
 [22.551252, 114.05861],
 [22.551367, 114.06162],
 [22.551367, 114.06162],
 [22.551323, 114.062386],
 [22.552315, 114.062836],
 [22.555777, 114.062706],
 [22.56288, 114.06254],
 [22.56509, 114.062485],
 [22.56551, 114.06242],
 [22.566753, 114.06245],
 [22.568516, 114.06234],
 [22.569056, 114.06224],
 [22.571157, 114.063805],
 [22.572414, 114.063934],
 [22.57373, 114.06393],
 [22.572565, 114.06377],
 [22.572527, 114.06298],
 [22.571386, 114.06384],
 [22.57119, 114.06393],
 [22.560753, 114.06748],
 [22.558254, 114.067444],
 [22.558254, 114.06542],
 [22.558393, 114.06363],
 [22.56059, 114.066124],
 [22.56183, 114.06832],
 [22.563503, 114.06781],
 [22.565483, 114.06783],
 [22.567945, 114.06783],
 [22.569162, 114.06937],
 [22.56938, 114.06838],
 [22.577776, 114.06328],
 [22.58591, 114.05321],
 [22.589056, 114.05114],
 [22.594765, 114.04801],
 [22.59711, 114.047844],
 [22.59733, 114.04744],
 [22.597652, 114.04695],
 [22.598078, 114.04671],
 [22.60019, 114.04692],
 [22.600653, 114.04731],
 [22.60143, 114.047],
 [22.601566, 114.044205],
 [22.604494, 114.04424],
 [22.604877, 114.040726],
 [22.607111, 114.03893],
 [22.614748, 114.03257],
 [22.614822, 114.03249],
 [22.612797, 114.02967],
 [22.613134, 114.027054],
 [22.611782, 114.027985],
 [22.612116, 114.02924],
 [22.614748, 114.03217],
 [22.614748, 114.03217],
 [22.616098, 114.03157],
 [22.618717, 114.02971],
 [22.620396, 114.028885],
 [22.621908, 114.02837],
 [22.623213, 114.027985],
 [22.623213, 114.027985],
 [22.623213, 114.027985],
 [22.62572, 114.02716],
 [22.627676, 114.0266],
 [22.630344, 114.02582],
 [22.630344, 114.02582],
 [22.635546, 114.02472],
 [22.63656, 114.02462],
 [22.63959, 114.02571],
 [22.640354, 114.02601],
 [22.644072, 114.02968],
 [22.642982, 114.03326],
 [22.642982, 114.03326],
 [22.642555, 114.03479],
 [22.641161, 114.038574],
 [22.641161, 114.038574],
 [22.640923, 114.03923],
 [22.640821, 114.03925],
 [22.64106, 114.03895],
 [22.641235, 114.038864],
 [22.640646, 114.04023],
 [22.639408, 114.04243],
 [22.638868, 114.04362],
 [22.638584, 114.04539],
 [22.639624, 114.042114],
 [22.640593, 114.04056],
 [22.64126, 114.03922],
 [22.641382, 114.038956],
 [22.641382, 114.038956],
 [22.641382, 114.038956],
 [22.642414, 114.03548],
 [22.642498, 114.035194],
 [22.642855, 114.03344],
 [22.63914, 114.03201],
 [22.635769, 114.0318],
 [22.63557, 114.031815],
 [22.634594, 114.03194],
 [22.635088, 114.029526],
 [22.63626, 114.02531],
 [22.63626, 114.02531],
 [22.63535, 114.02455],
 [22.631214, 114.025314],
 [22.630968, 114.02536],
 [22.630968, 114.02536],
 [22.629133, 114.02577],
 [22.628477, 114.026085],
 [22.62713, 114.026505],
 [22.623787, 114.02753],
 [22.623787, 114.02753],
 [22.623787, 114.02753],
 [22.621902, 114.02813],
 [22.615637, 114.031555],
 [22.614998, 114.03204],
 [22.612938, 114.0298],
 [22.612057, 114.02833],
 [22.612494, 114.02649],
 [22.60646, 114.022156],
 [22.604359, 114.02396],
 [22.603928, 114.02434],
 [22.605244, 114.02674],
 [22.604725, 114.028206],
 [22.597534, 114.033485],
 [22.598951, 114.037636],
 [22.596468, 114.04279],
 [22.577812, 114.06035],
 [22.572117, 114.067444],
 [22.568066, 114.06749],
 [22.562998, 114.06756],
 [22.559395, 114.06755],
 [22.551746, 114.06775],
 [22.551521, 114.06774],
 [22.54845, 114.06778],
 [22.546778, 114.067856],
 [22.543686, 114.067505],
 [22.533798, 114.068115],
 [22.52442, 114.06572],
 [22.522104, 114.067986],
 [22.523277, 114.06505],
 [22.523886, 114.067276],
 [22.53512, 114.06824],
 [22.538437, 114.06852],
 [22.538486, 114.07063],
 [22.53684, 114.07212],
 [22.538643, 114.06719],
 [22.537733, 114.06331],
 [22.537733, 114.06331],
 [22.537733, 114.06331],
 [22.537676, 114.06115],
 [22.537624, 114.05877],
 [22.537624, 114.05877],
 [22.53765, 114.057976],
 [22.53754, 114.05408],
 [22.53754, 114.05408],
 [22.537518, 114.0522],
 [22.537512, 114.05121],
 [22.539211, 114.051315],
 [22.543884, 114.05125],
 [22.54711, 114.051094],
 [22.547361, 114.05098],
 [22.5477, 114.049614],
 [22.548122, 114.049675],
 [22.547358, 114.0485],
 [22.54723, 114.05027],
 [22.54325, 114.05115],
 [22.539473, 114.05292],
 [22.539528, 114.05387],
 [22.539427, 114.05596],
 [22.537914, 114.056076],
 [22.537884, 114.056114],
 [22.537622, 114.05572],
 [22.537584, 114.05469],
 [22.53758, 114.05393],
 [22.537539, 114.053825],
 [22.537558, 114.05143],
 [22.53827, 114.05186],
 [22.538681, 114.05228],
 [22.537867, 114.05254],
 [22.53749, 114.052025],
 [22.5352, 114.0516],
 [22.531693, 114.04905],
 [22.531376, 114.04317],
 [22.530764, 114.03705],
 [22.530373, 114.031845],
 [22.53134, 114.02634],
 [22.541891, 114.02276],
 [22.550226, 114.01922],
 [22.551514, 114.01827],
 [22.553972, 114.01665],
 [22.554241, 114.016426],
 [22.554241, 114.016426],
 [22.555037, 114.0161],
 [22.555037, 114.0161],
 [22.555756, 114.01588],
 [22.560198, 114.02401],
 [22.560472, 114.02571],
 [22.561357, 114.03042],
 [22.5612, 114.033325],
 [22.559338, 114.032135],
 [22.55757, 114.030495],
 [22.557184, 114.030075],
 [22.557184, 114.030075],
 [22.55692, 114.02978],
 [22.556074, 114.02644],
 [22.555628, 114.022095],
 [22.555553, 114.01816],
 [22.555574, 114.016106],
 [22.557415, 114.01555],
 [22.56092, 114.014885],
 [22.559595, 114.01179],
 [22.557772, 114.00777],
 [22.559135, 113.98915],
 [22.560665, 113.98468],
 [22.563902, 113.98442],
 [22.567345, 113.98788],
 [22.584858, 113.98372],
 [22.58628, 113.98345],
 [22.588737, 113.98352],
 [22.590548, 113.98797],
 [22.59155, 113.98844],
 [22.592688, 113.98859],
 [22.594997, 113.99469],
 [22.594479, 113.994965],
 [22.594479, 113.994965],
 [22.594479, 113.994965],
 [22.593153, 113.994774],
 [22.592169, 113.99234],
 [22.593443, 113.99533],
 [22.590454, 113.99378],
 [22.590876, 113.99506],
 [22.590496, 113.99426],
 [22.590794, 113.99388],
 [22.592102, 113.996155],
 [22.592093, 113.99613],
 [22.595205, 113.9946],
 [22.59495, 113.99049],
 [22.595118, 113.99036],
 [22.598951, 113.99015],
 [22.597948, 113.990036],
 [22.596054, 113.99005],
 [22.594976, 113.98814],
 [22.595497, 113.986946],
 [22.595173, 113.98698],
 [22.594135, 113.98797],
 [22.591951, 113.9884],
 [22.592537, 113.98846],
 [22.594639, 113.987885],
 [22.594984, 113.98969],
 [22.594965, 113.990135],
 [22.59897, 113.99025],
 [22.603632, 113.98997],
 [22.606558, 113.987564],
 [22.60538, 113.98371],
 [22.614517, 113.97813],
 [22.616941, 113.97436],
 [22.62343, 113.973816],
 [22.624254, 113.977196],
 [22.624449, 113.97645],
 [22.623499, 113.97255],
 [22.621931, 113.9704],
 [22.621838, 113.970375],
 [22.621296, 113.96989],
 [22.62033, 113.96936],
 [22.614208, 113.967285],
 [22.610243, 113.96564],
 [22.60695, 113.96398],
 [22.6022, 113.96465],
 [22.599554, 113.96436],
 [22.598934, 113.96088],
 [22.598658, 113.95951],
 [22.596762, 113.958336],
 [22.596762, 113.958336],
 [22.596212, 113.95897],
 [22.594734, 113.95921],
 [22.590918, 113.95941],
 [22.592066, 113.9594],
 [22.594852, 113.95931],
 [22.596682, 113.961784],
 [22.593533, 113.96566],
 [22.59266, 113.967606],
 [22.5929, 113.968216],
 [22.592422, 113.96595],
 [22.596323, 113.959496],
 [22.594158, 113.95593],
 [22.590881, 113.95014],
 [22.595072, 113.94375],
 [22.597794, 113.940155],
 [22.607439, 113.9326],
 [22.61796, 113.93469],
 [22.622217, 113.934814],
 [22.628216, 113.93411],
 [22.636625, 113.92771],
 [22.651882, 113.91519],
 [22.652735, 113.91519],
 [22.65751, 113.91738],
 [22.662043, 113.919975],
 [22.664871, 113.920425],
 [22.665182, 113.92041],
 [22.665333, 113.9204],
 [22.66688, 113.92037],
 [22.66687, 113.92344],
 [22.666847, 113.923615],
 [22.666761, 113.92431],
 [22.671137, 113.92917],
 [22.672834, 113.93033],
 [22.67336, 113.93224],
 [22.6752, 113.93263],
 [22.675426, 113.934906],
 [22.679657, 113.93482],
 [22.680779, 113.9348],
 [22.680779, 113.9348],
 [22.68109, 113.93478],
 [22.68194, 113.93477],
 [22.683102, 113.93588],
 [22.683037, 113.936554],
 [22.683216, 113.93591],
 [22.683338, 113.93474],
 [22.683624, 113.934875],
 [22.68324, 113.93445],
 [22.683218, 113.93354],
 [22.683008, 113.93237],
 [22.683868, 113.92967],
 [22.68207, 113.92877],
 [22.67989, 113.92683],
 [22.677612, 113.925705],
 [22.67328, 113.92216],
 [22.67503, 113.915344],
 [22.673256, 113.901436],
 [22.673445, 113.89865],
 [22.674381, 113.89593],
 [22.674099, 113.888],
 [22.67238, 113.88453],
 [22.67238, 113.88453],
 [22.672356, 113.88454],
 [22.671234, 113.88056],
 [22.667942, 113.86495],
 [22.65719, 113.858505],
 [22.65606, 113.858536],
 [22.647709, 113.85978],
 [22.642996, 113.859764],
 [22.642996, 113.859764],
 [22.639187, 113.859924],
 [22.628054, 113.8587],
 [22.628054, 113.8587],
 [22.625282, 113.857666],
 [22.618069, 113.8511],
 [22.617924, 113.850365],
 [22.618717, 113.85051],
 [22.617786, 113.851685],
 [22.602148, 113.862274],
 [22.59751, 113.8653],
 [22.586088, 113.869774],
 [22.583387, 113.86602],
 [22.583246, 113.86583],
 [22.581585, 113.86284],
 [22.584951, 113.85858],
 [22.584951, 113.85858],
 [22.58267, 113.85597],
 [22.581148, 113.85453],
 [22.578878, 113.85715],
 [22.576986, 113.85941],
 [22.576986, 113.85941],
 [22.57682, 113.85983],
 [22.580164, 113.86304],
 [22.580738, 113.86349],
 [22.58368, 113.8605],
 [22.584097, 113.85994],
 [22.584213, 113.85978],
 [22.584667, 113.85914],
 [22.584667, 113.85914],
 [22.58493, 113.85881],
 [22.58714, 113.855156],
 [22.596094, 113.8461],
 [22.599478, 113.844315],
 [22.60017, 113.843956],
 [22.604418, 113.84187],
 [22.606833, 113.84076],
 [22.612032, 113.83822],
 [22.61467, 113.836975],
 [22.618454, 113.83523],
 [22.618992, 113.83501],
 [22.619453, 113.834595],
 [22.616705, 113.82862],
 [22.61307, 113.820465],
 [22.61457, 113.81621],
 [22.61968, 113.81347],
 [22.61989, 113.81334],
 [22.62031, 113.81315],
 [22.620886, 113.81279],
 [22.62125, 113.81262],
 [22.62125, 113.81262],
 [22.621912, 113.81225],
 [22.622217, 113.812096],
 [22.622587, 113.81202],
 [22.623058, 113.812225],
 [22.623022, 113.81272],
 [22.623487, 113.81337],
 [22.624231, 113.81359],
 [22.624249, 113.81364],
 [22.625225, 113.81334],
 [22.6253, 113.81331],
 [22.625832, 113.81301],
 [22.62613, 113.81286],
 [22.626123, 113.81286],
 [22.626875, 113.81244],
 [22.627558, 113.81206],
 [22.627804, 113.81183],
 [22.627848, 113.811775],
 [22.628017, 113.81158],
 [22.62782, 113.81084],
 [22.627243, 113.80972],
 [22.627054, 113.809715],
 [22.627054, 113.809715],
 [22.626806, 113.80978],
 [22.62658, 113.80998],
 [22.625362, 113.80923]]

769

In [63]:
index_drop_list=[]
last_time=df_taxi.iloc[0]["gps_time"]+pd.Timedelta(seconds=-30)
for index, row in df_taxi.iterrows():
    if row["gps_time"]-last_time<pd.Timedelta(seconds=30):
        index_drop_list.append(index)
        continue
    last_time=row["gps_time"]
df_taxi=df_taxi.drop(index_drop_list)
df_taxi
coords=df_taxi[["lat", "lng"]].values
coords
len(coords)

midpoint=coords[int(len(coords)/2)]
midpoint

            lat         lng            gps_time
0     22.547550  114.057976 2019-12-02 00:00:42
1     22.547485  114.053720 2019-12-02 00:01:42
3     22.548770  114.051100 2019-12-02 00:02:22
4     22.549063  114.051180 2019-12-02 00:02:57
5     22.549303  114.051010 2019-12-02 00:03:33
...         ...         ...                 ...
1291  22.627054  113.809715 2019-12-02 23:55:28
1292  22.627054  113.809715 2019-12-02 23:56:13
1293  22.626806  113.809780 2019-12-02 23:58:12
1294  22.626580  113.809980 2019-12-02 23:58:57
1298  22.625362  113.809230 2019-12-02 23:59:28

[769 rows x 3 columns]

array([[ 22.54755 , 114.057976],
       [ 22.547485, 114.05372 ],
       [ 22.54877 , 114.0511  ],
       ...,
       [ 22.626806, 113.80978 ],
       [ 22.62658 , 113.80998 ],
       [ 22.625362, 113.80923 ]])

769

array([ 22.569162, 114.06937 ])

In [55]:
def get_distance(row, midpoint):
    row["distance"]=abs(row["center"][0]-midpoint[1])+abs(row["center"][1]-midpoint[0])

    return row

df_roads=df_roads.apply(get_distance, args=(midpoint,), axis=1)
df_roads=df_roads.sort_values("distance")

df_roads

,id,geometry,center,distance
3619,"(504640707, 2787061089, 0)","POLYGON ((114.06913 22.56926, 114.06913 22.569...","(114.0692799443102, 22.569180194310206)",0.000108
3621,"(2787061089, 2787061351, 0)","POLYGON ((114.07029 22.56935, 114.07030 22.569...","(114.07016757982953, 22.56925067017046)",0.000886
15281,"(8280639220, 3671791987, 0)","POLYGON ((114.07158 22.56975, 114.07157 22.569...","(114.07028096125612, 22.569653711256123)",0.001403
3618,"(504640691, 504640707, 0)","POLYGON ((114.06762 22.56822, 114.06763 22.568...","(114.06826252535376, 22.568594375353772)",0.001675
3608,"(875924264, 504640681, 0)","POLYGON ((114.06859 22.56920, 114.06858 22.569...","(114.06822734322932, 22.56972525677068)",0.001706
...,...,...,...,...
462,"(1118822753, 6601929956, 0)","POLYGON ((114.55603 22.64973, 114.55602 22.649...","(114.5539184239814, 22.65018507694028)",0.565572
461,"(1118822753, 6482134220, 0)","POLYGON ((114.55925 22.65190, 114.55926 22.651...","(114.56574287152765, 22.65183995123187)",0.579051
468,"(6482134220, 1118822753, 0)","POLYGON ((114.57380 22.65049, 114.57379 22.650...","(114.56574287152765, 22.65183995123187)",0.579051
467,"(6482134220, 6482134219, 0)","POLYGON ((114.57462 22.64940, 114.57477 22.649...","(114.57430105859574, 22.64979659140426)",0.585566
2465,"(6482134219, 6482134220, 0)","POLYGON ((114.57445 22.64930, 114.57445 22.649...","(114.57430105859574, 22.64979659140426)",0.585566

In [56]:
index_list=df_roads.index.values
index_list

geom_list=df_roads["geometry"].values
geom_list

array([ 3619,  3621, 15281, ...,   468,   467,  2465])

<GeometryArray>
[<shapely.geometry.polygon.Polygon object at 0x7f52f1102d00>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f1102af0>,
 <shapely.geometry.polygon.Polygon object at 0x7f53025b6760>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f11070d0>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f110a160>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f1107220>,
 <shapely.geometry.polygon.Polygon object at 0x7f52ef140940>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f263ab80>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f1107c10>,
 <shapely.geometry.polygon.Polygon object at 0x7f53025b68e0>,
 ...
 <shapely.geometry.polygon.Polygon object at 0x7f5304ec7b80>,
 <shapely.geometry.polygon.Polygon object at 0x7f5304ec7bb0>,
 <shapely.geometry.polygon.Polygon object at 0x7f5305207ac0>,
 <shapely.geometry.polygon.Polygon object at 0x7f5305207430>,
 <shapely.geometry.polygon.Polygon object at 0x7f5305207f10>,
 <shapely.geometry.polygon.Polygon object at 0x7f530520f7f0>,
 <shapely.geometry.polygon.Polygon object at 0x7f530520f7c0>,
 <shapely.geometry.polygon.Polygon object at 0x7f530520a2b0>,
 <shapely.geometry.polygon.Polygon object at 0x7f530520a280>,
 <shapely.geometry.polygon.Polygon object at 0x7f52f07bfb80>]
Length: 16153, dtype: geometry

In [57]:
track=[]
for coord in coords:
    for i in range(len(geom_list)):
        if geom_list[i].contains(Point(coord[1], coord[0])):
            if len(track)==0 or (len(track)>0 and track[-1]!=index_list[i]):
                track.append(index_list[i])
            break
        
track

[7326,
 6901,
 7320,
 3587,
 7793,
 7535,
 3551,
 3523,
 7490,
 4599,
 3594,
 3595,
 3568,
 5999,
 6000,
 7281,
 7278,
 7263,
 7262,
 7254,
 7253,
 7260,
 4133,
 5708,
 4803,
 3410,
 3407,
 3447,
 7264,
 7271,
 7255,
 7281,
 7276,
 7279,
 3484,
 3481,
 3551,
 3536,
 3537,
 7045,
 7047,
 7523,
 7521,
 3617,
 8805,
 10049,
 10059,
 10057,
 8259,
 7959,
 8309,
 10351,
 8448,
 14812,
 8448,
 16117,
 10015,
 10016,
 9476,
 12848,
 9503,
 9504,
 9511,
 9572,
 8490,
 8491,
 267,
 8402,
 8375,
 8377,
 8382,
 11829,
 11830,
 11832,
 13575,
 11743,
 13574,
 11761,
 1279,
 11728,
 8715,
 11818,
 8702,
 9647,
 9658,
 9539,
 8476,
 12972,
 12969,
 9624,
 9633,
 9621,
 13581,
 8570,
 9950,
 8509,
 8442,
 8274,
 9960,
 12359,
 12360,
 8239,
 10120,
 9565,
 10118,
 8229,
 10297,
 10296,
 8215,
 12425,
 7218,
 6096,
 7571,
 6097,
 6253,
 5029,
 7011,
 3531,
 7021,
 5654,
 7297,
 7178,
 7256,
 7282,
 7613,
 3460,
 5654,
 7261,
 3504,
 3465,
 7390,
 7348,
 7391,
 7407,
 7351,
 7345,
 3496,
 3486,
 7279,
 7277,
 4130,
 3427,
 3431,
 3368,
 3338,
 3336,
 7365,
 7356,
 7353,
 4569,
 3470,
 3496,
 3497,
 3499,
 6924,
 7269,
 6919,
 3519,
 7633,
 5707,
 7628,
 3460,
 7296,
 7178,
 6924,
 6473,
 7266,
 6644,
 6914,
 7319,
 7320,
 7332,
 7316,
 6897,
 7790,
 6097,
 8172,
 3613,
 3616,
 14401,
 12443,
 5078,
 7051,
 6253,
 7522,
 3619,
 3608,
 8806,
 8177,
 10049,
 10059,
 8257,
 16115,
 10027,
 14012,
 10029,
 14364,
 10021,
 10022,
 14920,
 13430,
 10335,
 10330,
 14757,
 10104,
 9356,
 9357,
 8447,
 8448,
 14812,
 8448,
 14812,
 8448,
 8447,
 8664,
 14247,
 8655,
 10352,
 14756,
 10338,
 10003,
 13429,
 10004,
 10005,
 14017,
 13941,
 16120,
 16121,
 14786,
 13235,
 9996,
 9997,
 13214,
 8190,
 3612,
 5077,
 13226,
 7532,
 7535,
 2991,
 3543,
 3576,
 5102,
 6031,
 7503,
 6028,
 4666,
 7021,
 6921,
 7281,
 6924,
 7267,
 6708,
 6913,
 7311,
 3484,
 7281,
 7278,
 5654,
 4131,
 3426,
 7340,
 3431,
 4154,
 6311,
 6714,
 5668,
 3704,
 8894,
 7396,
 5666,
 3870,
 5668,
 6935,
 8131,
 8168,
 4544,
 3882,
 8623,
 8090,
 8856,
 9266,
 9466,
 15385,
 15176,
 15768,
 15767,
 10155,
 13959,
 13958,
 13957,
 9143,
 10386,
 9490,
 15437,
 10163,
 10159,
 9862,
 9495,
 9859,
 9117,
 14995,
 11145,
 13517,
 10643,
 10670,
 10672,
 13473,
 10691,
 13592,
 12135,
 13475,
 12142,
 12944,
 12945,
 10676,
 12940,
 15722,
 10557,
 10554,
 10555,
 10258,
 10254,
 10256,
 9337,
 9328,
 8055,
 7980,
 7981,
 9369,
 9370,
 7967,
 11540,
 11537,
 10807,
 10806,
 9083,
 11237,
 11223,
 10783,
 10807,
 10806,
 10810,
 9384,
 10798,
 14140,
 9386,
 10929,
 10818,
 12251,
 12259,
 12260,
 12247,
 13616,
 13614,
 11184,
 11182]

---

多线程

In [84]:
# global vars

def to_shared_array(arr, ctype):
    shared_array = mp.Array(ctype, arr.size, lock=False)
    temp = np.frombuffer(shared_array, dtype=arr.dtype)
    temp[:] = arr.flatten(order='C')
    return shared_array

def to_numpy_array(shared_array, shape):
    '''Create a numpy array backed by a shared memory Array.'''
    arr = np.ctypeslib.as_array(shared_array)
    return arr.reshape(shape)

lock=mp.Lock()
np_mat=np.zeros((9, len(df_roads), len(df_roads)), dtype=np.int32)
shared_mat=to_shared_array(np_mat, ctypes.c_int32)
trans_matrix=to_numpy_array(shared_mat, np_mat.shape)

In [81]:
# def create2darray(n, m):
#     mp_arr=mp.Array("i", n*m)
#     arr=np.frombuffer(mp_arr.get_obj(), ctypes.c_int)  # mp_arr and arr share the same memory
#     # make it two-dimensional
#     print('np array len=', len(arr))
#     res=arr.reshape((n, m))  # res and arr share the same memory
#     return res

# trans_matrix=[[0]*len(df_roads) for _ in range(len(df_roads))]
# trans_matrix=np.zeros((len(df_roads), len(df_roads)))

def get_distance(row, midpoint):
    row["distance"]=abs(row["center"][0]-midpoint[1])+abs(row["center"][1]-midpoint[0])

    return row

def get_seconds(row):
    row["time_seconds"]=row["gps_time"].hour*3600+row["gps_time"].minute*60+row["gps_time"].second
    return row

def resample_coords(df_taxi):
    index_drop_list=[]
    last_time=df_taxi.iloc[0]["time_seconds"]-30
    for index, row in df_taxi.iterrows():
        if row["time_seconds"]-last_time<30:
            index_drop_list.append(index)
            continue
        last_time=row["time_seconds"]
    df_taxi=df_taxi.drop(index_drop_list)
    coords=df_taxi[["lat", "lng"]].values
    time_list=df_taxi["time_seconds"].values

    return df_taxi, coords, time_list

def get_track(file_path):
    global df_roads

    df_taxi=pd.read_csv(file_path)
    df_taxi["gps_time"]=pd.to_datetime(df_taxi["gps_time"])
    df_taxi=df_taxi.apply(get_seconds, axis=1)

    df_taxi, coords, time_list=resample_coords(df_taxi)
    midpoint=coords[int(len(coords)/2)]

    df_roads_temp=df_roads.apply(get_distance, args=(midpoint,), axis=1)
    df_roads_temp=df_roads_temp.sort_values("distance")

    index_list=df_roads_temp.index.values
    geom_list=df_roads_temp["geometry"].values

    track=[]
    last_road=-1
    for i in range(len(coords)):
        coord=coords[i]
        find=False
        for j in range(len(geom_list)):
            if geom_list[j].contains(Point(coord[1], coord[0])):
                road=index_list[j]
                track.append(road)
                if last_road!=-1:
                    with lock:
                        trans_matrix[0, last_road, road]+=1
                        trans_matrix[int(time_list[i]/10800)+1, last_road, road]+=1
                        # print(last_road, road, trans_matrix[last_road, road])
                find=True
                last_road=road
                break
        if not find:
            track.append(None)

    df_taxi["track"]=track
    df_taxi.to_csv("../data/taxi_after_proc/tracks/{}".format(file_path.split("/")[-1]), index=False)
    
    print("../data/taxi_after_proc/tracks/{}".format(file_path.split("/")[-1]))

10min 或 15min 时间长度

In [85]:
pool=mp.Pool(16)

for file in os.listdir("../data/taxi_after_proc/merged/")[:30]:
    file_path="../data/taxi_after_proc/merged/"+file
    date=int(file.split("-")[1].split("_")[0])
    if date>=2 and date<=7:
        res=pool.apply_async(get_track, (file_path,))

pool.close()
pool.join()

../data/taxi_after_proc/tracks/12-11_粤BD99105.csv

---

In [90]:
for file in os.listdir("../data/taxi_after_proc/merged/")[:1]:
    file_path="../data/taxi_after_proc/merged/"+file
    date=int(file.split("-")[1].split("_")[0])
    print(date)
    get_track(file_path)

11

In [79]:
pd.read_csv("../data/taxi_after_proc/tracks/12-11_粤BD99105.csv")[100:200]

,lat,lng,gps_time,speed,direction,car_status,time_seconds,track
100,22.547660,114.101326,2019-12-11 07:51:38,34,101,512,28298,NaN
101,22.551468,114.099495,2019-12-11 07:53:01,19,179,512,28381,7182.0
102,22.558403,114.099290,2019-12-11 07:54:37,22,178,512,28477,6089.0
103,22.558550,114.093480,2019-12-11 07:56:08,1,136,512,28568,NaN
104,22.558556,114.092760,2019-12-11 07:57:39,24,135,512,28659,NaN
...,...,...,...,...,...,...,...,...
195,22.546180,113.942970,2019-12-11 10:48:08,4,40,512,38888,NaN
196,22.546247,113.943480,2019-12-11 10:49:09,14,44,512,38949,NaN
197,22.546185,113.944570,2019-12-11 10:49:53,10,60,512,38993,4578.0
198,22.543293,113.944900,2019-12-11 10:50:24,51,93,512,39024,4582.0
199,22.539291,113.945180,2019-12-11 10:51:18,26,53,512,39078,5290.0

In [87]:
trans_matrix[4, 4578, 4582]
np.count_nonzero(trans_matrix)
np.count_nonzero(trans_matrix[0])
trans_matrix[:1]

1

497

248

array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]], dtype=int32)

In [33]:
print(len(os.listdir("../data/taxi_after_proc/merged")))

os.listdir("../data/taxi_after_proc/merged")[:30]

252072

['12-11_粤BD99105.csv',
 '12-07_粤BDD5290.csv',
 '12-03_粤BDK3582.csv',
 '12-10_粤BD91409.csv',
 '12-03_粤BD04241.csv',
 '12-11_粤BDK6038.csv',
 '12-09_粤BDB7131.csv',
 '12-05_粤BD03542.csv',
 '12-08_粤BD07247.csv',
 '12-02_粤BD45539.csv',
 '12-04_粤BDK9220.csv',
 '12-09_粤BD41837.csv',
 '12-02_粤BD25538.csv',
 '12-11_粤BD54505.csv',
 '12-04_粤BDR5692.csv',
 '12-02_粤BD73507.csv',
 '12-03_粤BDD1206.csv',
 '12-07_粤B3X6G7.csv',
 '12-12_粤BD54060.csv',
 '12-02_粤BDA7178.csv',
 '12-06_粤BD04318.csv',
 '12-11_粤BD41257.csv',
 '12-01_粤BD40443.csv',
 '12-07_粤BDN0255.csv',
 '12-03_粤BDM6673.csv',
 '12-10_粤BDD1975.csv',
 '12-01_粤BDG0129.csv',
 '12-10_粤BDC3438.csv',
 '12-09_粤BDA5172.csv',
 '12-06_粤BD93409.csv']

In [34]:
df_temp=pd.read_csv("../data/taxi_after_proc/merged/12-01_粤BD40443.csv")

df_temp

           lat         lng             gps_time  speed  direction  car_status
0    22.624868  113.808525  2019-12-01 00:05:19     33        118         512
1    22.624199  113.807200  2019-12-01 00:05:34     31        120         512
2    22.623735  113.806640  2019-12-01 00:05:51     20         85         512
3    22.622670  113.807230  2019-12-01 00:06:04     30         75         512
4    22.621271  113.807970  2019-12-01 00:06:18     52         74         512
..         ...         ...                  ...    ...        ...         ...
922  23.024214  113.750710  2019-12-01 23:17:32     14        127         512
923  23.023796  113.751700  2019-12-01 23:18:17      5         85         512
924  23.023510  113.751656  2019-12-01 23:18:38     13        101         512
925  23.024656  113.749210  2019-12-01 23:21:02     26        141         512
926  23.025002  113.748900  2019-12-01 23:21:28     10         14         512

[927 rows x 6 columns]

In [51]:
df_temp["gps_time"]=pd.to_datetime(df_temp["gps_time"])

df_temp["gps_time"][900].second

17